<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicLibraries</key>
	<array>
		<string>libc++.dylib</string>
	</array>
	<key>requiredFrameworks</key>
	<array>
		<string>AddressBook.framework</string>
		<string>AssetsLibrary.framework</string>
		<string>CoreData.framework</string>
		<string>CoreText.framework</string>
		<string>Security.framework</string>
	</array>
	<key>pListAdditions</key>
	<array/>
	<key>weakLinkFrameworks</key>
	<array>
		<string>CoreText</string>
	</array>
	<key>linkerFlags</key>
	<array>
		<string>-ObjC</string>
	</array>
	<key>enableExceptions</key>
	<false/>
</dict>
</plist>
